 <div class="post">
      <h4><%= article.updated_at.strftime("%e %B %Y")%></h4>
      <h1><%= link_to article.title, article_path(article) %></h1>
      <span class="szczegolyPosta">

      with <%= article.comments.count %> comments

    </span>
      <br><br>
      <%= sanitize(truncate(article.text, length: 400)) %>
      <br><br>
      <h3><%= link_to 'Read More', article_path(article) %></h3>
      <div class="przyciski">
        <strong>
          <% if can? :manage, @article %>
              <%= link_to "Zmień", edit_article_path(@article) %> |
              <%= link_to 'Usuń', article_path(article),
                          method: :delete,
                          data: { confirm: 'Na pewno?' } %>
          <% end %>
        </strong>
      </div>
 </div>
