<div class="post">
  <h1><%= @article.title %></h1>
  <span class="parametryPosta">
    <%= @article.author %>
    <%= @article.updated_at.strftime("%D")%>
    <%= @article.comments.count %> komentarzy
    <%= @article.likes.count %> polubień
    <%= render @article.tags %>

  </span>
  <br><br>
  <%= @article.text %>
  <br><br>
  <div class="containerPolA">
    <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
      Polub
    </button>

    <script>
        $('#myButton').on('click', function () {
            var $btn = $(this).button('loading');
            <%@article.like(current_user)%>
            $btn.button('reset')
        })
    </script>
    <div class="polecaneA">
    </div>
  </div>
  <h2>Komentarze</h2>
  <%= render @article.comments %>
  <%= render 'comments/form' %>
  <div class="przyciski">
    <strong>
      <% if (user_signed_in? && @article.author==current_user.username) %>
          <%= link_to "Zmień", edit_article_path(@article) %> |
          <%= link_to 'Usuń', article_path(@article),
                      method: :delete,
                      data: { confirm: 'Na pewno?' } %>
      <% end %>
    </strong>
  </div>

</div>
<div class="flickr_pagination">
  <div class="row">
    <div class="col-xs-4"><div class="poprzedni"><%= link_to("Poprzedni", @article.previous_post) if @article.previous_post %></div></div>
    <div class="col-xs-4"><%= link_to("Strona Główna", articles_path) %></div>
    <div class="col-xs-4"><div class="nastepny"> <%= link_to("Następny", @article.next_post) if @article.next_post %></div></div>
  </div>
</div>