<div class="post">
  <h1><%= @article.title %></h1>
  <span class="parametryPosta">
    <%= @article.updated_at.strftime("%D")%>
    <%= @article.comments.count %> comments
    <%= render @article.tags %>
  </span>
  <br><br>
  <%= @article.text %>
  <br><br>
  <div class="containerPolA">
    <h2>Polecane Artykuły</h2>
    <div class="polecaneA">
    </div>
  </div>
  <h2>Comments</h2>
  <%= render @article.comments %>

  <%= render 'comments/form' %>
  <div class="przyciski">
    <strong>
      <% if can? :manage, @article %>
          <%= link_to "Zmień", edit_article_path(@article) %> |
      <% end %>
    </strong>
  </div>

</div>
<div class="flickr_pagination">
  <div class="row">
    <div class="col-xs-4"><div class="poprzedni"><%= link_to("Poprzedni", @article.previous_post) if @article.previous_post %></div></div>
    <div class="col-xs-4"><%= link_to("Strona Główna", articles_path) %></div>
    <div class="col-xs-4"><div class="nastepny"> <%= link_to("Następny", @article.next_post) if @article.next_post %></div></div>
  </div>
</div>