<!DOCTYPE html>
<html>
  <head>
    <title>Poliksena Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
        header {
          width: 100%;
          border-bottom: 1px solid #ededed;
        }
        #container {
          width: 700px;
          margin: auto;
        }
        #menu {
          width: 200px;
          float: left;
        }
        #main {
          width: 489px;
          float: left;
          padding: 0px 0px 0px 10px;
          border-left: 1px solid #ededed;
        }
        footer {
          width: 100%;
          clear: both;
          text-align: center;
          padding-top: 20px;
        }
        h1 {
          margin-top: 0;
        }
    </style>
  </head>

  <body>
    <div id="container">
      <header>
        <h1>Poliksena Blog</h1>
      </header>
      <div id="menu">
        <ul>
          <li><%= link_to 'Strona główna', controller: 'welcome' %></li>
          <li><%= link_to 'Artykuły', controller: 'articles' %></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
      <footer>2017 Poliksena Blog</footer>
    </div>
  </body>
</html>
